main {
  background-color: grey;
  width: 100%;
  border: 1px solid black;
}



section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;
  background-color: aquamarine;
  border: 1px solid black;
  
}

article {
  background-color: cadetblue;
  width: 30%;
  margin: 10px;
  padding-left: 15px;
  border: 1px solid black;
}

table  {
  
  background-color: aquamarine;
  width: 30%;
  border: 1px solid red;
}

td{
  border: 1px solid black;
  padding: auto;
  /* contenido de celdas centrado */
  text-align: center;
  
}

ol li {
  display: inline-block;
  background-color: aqua;
  list-style-type: none;
  padding: 15px;
  border: 1px solid black;
}
