main {
  
  align-items: center;
  background-color: grey;
  width: 100%;
  border: 1px solid black;
}




section {
  display: flexbox;
  flex-wrap: nowrap;
  background-color: aquamarine;
  border: 1px solid black;  
}

article {
  background-color: cadetblue;
  width: 30%;
  margin-left: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-left: 1,5em;
  border: 1px solid black;
  padding: 1em;
}

table  {
  
  background-color: aquamarine;
  margin-right: 2em;
  margin-left: 2em;
  border: 1px solid red;
}

td{
  border: 1px solid black;
  /* padding: auto; */
  /* contenido de celdas centrado */
  text-align: center;
  
}

ol li {
  display: inline-block;
  background-color: aqua;
  list-style-type: none;
  padding: 1em;
  border: 1px solid black;
}
